<h1>Question <%= @question %> of 5</h1>

<% res = {:patient => @result.patient, :date => @result.date, :category => @result.category, :level => @result.level, :correct => @result.correct, :user_id => @result.user_id} %>

<h2>Pick the <%= @random %>!</h2>
<%= link_to(image_tag(@first.link, :width => @first.width, :height => @first.height), game_check_path(:correct => @random, :guessed => @first.name, :result => res, :question => @question, :cummulative => @cummulative)) %><=====================>
<%= link_to(image_tag(@second.link, :width => @second.width, :height => @second.height), game_check_path(:correct => @random, :guessed => @second.name, :result => res, :question => @question, :cummulative => @cummulative)) %>

