<h1>Congratulations! You're done!</h1>
<%= @result.patient %> got <%= @result.correct %> correct out of 5!<br><br>
<%= link_to "Play Again?", root_path %><br>
<%= link_to "See all of #{@result.patient}'s results", results_show_path %>
